* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Internet Explorer, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  margin-top: 5px;
  font-weight: lighter;
  letter-spacing: .75px;
}

h2 {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  line-height: 21px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Buttons */

.button {
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	margin: 4px 6px;
	padding: 12px 15px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	transition-duration: 100ms;
	box-shadow: 0 0px 6px 3px rgba(0,0,0,.1);
}

.button.white.trans {
	border: 2px solid #FFF;
	color: #FFF;
	background-color: transparent;
}

.button.white.solid {
	border: 2px solid #FFF;
	color: #000;
	background-color: #FFF;
}

.button.white.solid:hover {
	background-color: rgb(189, 189, 189);
	border: 2px solid rgb(189, 189, 189)
}

.button.blue.trans {
	border: 2px solid #03a9f4;
	color: #03a9f4;
	background-color: transparent;
}

.button.blue.solid {
	border: 2px solid #03a9f4;
	color: #FFF;
	background-color: #03a9f4;
}

.button.blue.solid:hover {
	border: 2px solid #2E93C9;
	background-color: #2E93C9;
}


.button.blue.trans:hover {
background-color: #f4f4f4;
}




.icon{
	height: 90px;
	width: 90px;
	margin: 20px 0 15px 0;
	fill: #03a9f4;
}

.icon.ring {
	padding: 10px;
	border: 2.5px solid #03a9f4;
	border-radius: 50%;
}


/* Responsive */

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.center-box {
	margin-right: auto;
	margin-left: auto;
	max-width: 95%;
}








